footer {
	> ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-around;
		list-style: none;

		> li > a {
			display: flex;
			align-items: center;
			padding: 0.5rem;
			gap: 0.5rem;
		}
	}
}
