.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  background: none;
  border: 1px solid var(--surface-variant);
  border-radius: 1rem;
  padding: 0.5rem;
  gap: 0.5rem;

  @media only screen and (max-width: 45rem) {
    grid-template-columns: 1fr;
  }

  > * {
    color: var(--on-surface);
    background-color: var(--surface);
    border-radius: 1rem;
    padding: 1rem;
  }

  .project-card {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    &[hidden] {
      display: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    > hgroup {
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;

      > h2 {
        display: flex;
        align-items: center;
        margin: 0;
      }

      > .tags {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 0.5rem;

        > li > a {
          background-color: var(--surface-variant);
          border-radius: 1.5em;
          padding: 0.75em;
          font-size: small;
        }
      }
    }

    > .project-summary {
      margin: 0;
    }

    > .project-links {
      grid-area: c;
      display: flex;
      flex-flow: column nowrap;
      gap: 0.5rem;
      list-style: none;

      a {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        color: inherit;
        text-decoration: none;
        gap: 0.5rem;

        &:hover,
        &:active {
          text-decoration: underline;
        }

        &:active,
        svg {
          color: var(--primary);
        }

        &:visited {
          color: inherit;
        }

        svg {
          height: 1.5rem;
        }
      }
    }
  }

  #show-all {
    grid-column: 1 / span 2;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    text-decoration: none;

    &[hidden] {
      display: none;
    }
  }
}
