@mixin light-theme {
	--primary: #583;
	--background: #fff;
	--surface: #ebebeb;
	--surface-variant: #d8d8d8;
	--on-primary: #fff;
	--on-background: #333;
	--on-surface: #000;
}

@mixin dark-theme {
	--primary: #583;
	--background: #0d0d0d;
	--surface: #181818;
	--surface-variant: #212121;
	--on-primary: #fff;
	--on-background: #333;
	--on-surface: #bbb;
}

:root {
	&:not([theme="dark"]) {
		@include light-theme;
	}

	&[theme="dark"] {
		@include dark-theme;
	}

	@media only screen and (prefers-color-scheme: dark) {
		&:not([theme="light"]) {
			@include dark-theme;
		}
	}
}
