@use "./footer.scss";
@use "./header.scss";
@use "./projects.scss";

@use "./theme.scss";
@use "./modern-normalize.css";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1.5rem;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--background);
  min-height: 100vh;

  gap: 1rem;
  padding: 1rem;

  > * {
    min-width: 800px;
    max-width: 1000px;
    width: 90vw;
    background-color: var(--surface);
    color: var(--on-surface);
    padding: 1rem;
    border-radius: 1rem;

    @media only screen and (max-width: 800px) {
      min-width: 0;
      width: 100vw;
    }
  }
}

a {
  &,
  &:hover,
  &:active,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 1px solid var(--primary);
  }
}
