{% import "icon.html" as icon %}

<footer>
    <ul>
        <li>
            <a href="https://codeberg.org/d-k-bo/website">
                {{ icon::load(name="brand-git") }}
                Source Code
            </a>
        </li>
        <li>
            <a href="https://codeberg.page/">
                {{ icon::load(name="server") }}
                Hosted by Codeberg
            </a>
        </li>
        <li>
            <a href="https://www.getzola.org/">
                {{ icon::load(name="building-factory-2") }}
                Generated with Zola
            </a>
        </li>
        <li>
            <a href="https://tabler.io/icons">
                {{ icon::load(name="icons") }}
                Icons by Tabler Icons
            </a>
        </li>
        <li>
            <a href="https://codeberg.org/codeberg/org/src/PrivacyPolicy.md">
                {{ icon::load(name="section-sign") }}
                Privacy Policy
            </a>
        </li>
    </ul>
</footer>