<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="generator" content="zola" />
    <meta name="theme-color" content="#558833" />
    <meta name="color-scheme" content="light dark" />

    <title>{{ config.title }}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles.css">
</head>