<header>
    <p>Hi, I’m David.</p>
    <p>
        If you found this page, you seem to be interested in one of my projects.
        Here you can see an overview over some other projects of mine. Everything
        presented here is created as a hobby and is developed under a
        <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software">Free and Open Source Software</a>
        license.
    </p>
</header>