{% import "icon.html" as icon -%}
<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
    {% include "header.html" %}
    {% include "projects.html" %}
    {% include "footer.html" %}
    <script type="application/javascript">
        {{ load_data(path = "templates/projects.js") | safe }}
    </script>
</body>
</html>