{% import "icon.html" as icon %}

<section id="projects" class="projects">
    {% set projects = load_data(path="@/projects.toml") %}
    {% set projects = projects.projects %}
    {% for project in projects %}
    <article class="project-card">
        <hgroup>
            {% set project_id = project.name | slugify %}
            <h2 id="{{ project_id }}">
                <a href="#{{project_id}}" title="Only show this project">
                    {{ project.name }}
                </a>
            </h2>

            <ul class="tags">
                {% for tag in project.tags %}
                {% set tag_id = tag | slugify %}
                <li>
                    <a href="#{{ tag_id }}" title='Filter projects by "{{ tag_id }}"'>
                        {{ tag }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </hgroup>

        {% if "summary" in project -%}
        <p class="project-summary">
            {{ project.summary }}
        </p>
        {%- endif %}

        <ul class="project-links">
            {% if "github" in project -%}
            <li>
                <a href="https://github.com/{{ project.github }}">
                    {{ icon::load(name="brand-github") }}
                    {{ project.github }}
                </a>
            </li>
            {%- endif %}
            {% if "crate" in project -%}
            <li>
                <a href="https://lib.rs/crates/{{ project.crate }}">
                    {{ icon::load(name="brand-rust") }}
                    {{ project.crate }}
                </a>
            </li>
            {%- endif %}
            {% if "flathub" in project -%}
            <li>
                <a href="https://flathub.org/apps/{{ project.flathub }}">
                    {{ icon::load(name="package") }}
                    {{ project.flathub }}
                </a>
            </li>
            {%- endif %}
            {% if "npm" in project -%}
            <li>
                <a href="https://www.npmjs.com/package/{{ project.npm }}">
                    {{ icon::load(name="brand-npm") }}
                    {{ project.npm }}
                </a>
            </li>
            {%- endif %}
            {% if "pypi" in project -%}
            <li>
                <a href="https://pypi.org/project/{{ project.pypi }}">
                    {{ icon::load(name="brand-python") }}
                    {{ project.pypi }}
                </a>
            </li>
            {%- endif %}
            {% if "license" in project -%}
            <li>
                <a href="https://spdx.org/licenses/{{ project.license.spdx }}.html">
                    {{ icon::load(name="license") }}
                    {{ project.license.name }}
                </a>
            </li>
            {%- endif %}
        </ul>
    </article>
    {% endfor %}
    <a id="show-all" href="#" hidden>Show all projects</a>
</section>